<div class="container">

  <div class="row">
                         
        <div class="col-md-4">
          <div   class="text-center">
           <img id="mypic" width="100" height="100"src="assets/images/sandwich-clipart-burger_sandwich_PNG4138.png">
          </div>
        </div>
        <div class="col-md-4">
          <div class="text-center">
            <h1 style="color: white" >Sandwhichs!!!</h1>
          </div>
        </div>

        <div class="col-md-4">
          <div  class="text-center" >
          <img id="mypic" width="100" height="100"src="assets/images/sandwich-clipart-burger_sandwich_PNG4138.png">
          </div>
        </div>

        
  </div>

  <div class="row">

      <div class="col-md-5">
                    
      </div>

      <div class="col-md-4" > 
         <button class="eat_it" data-id="{{id}}" data-newsleep="{{sleep}}">
		            Eat a Sandwhich
          	</button>
      </div>

    
  </div>


  <div class="row">
      <div class="col-md-5" > 
         <div class="text-center">
            <h2 style="color: white" >Sandwhichs to be eaten</h2>
          </div>

        
        <table class="table">

                
          <div>
            <!--
                  <thead id="head">
                      <tr>
                        <th>
                          ID
                        </th>
                        <th>
                           Name
                       </th>

                       <th>
                          EatenYN
                        </th>
                        <th>
                          Created
                        </th>
                      </tr>
                    </thead>
                -->
                  <tbody id="table">
                  {{#each sandwhich}}
                  <tr>
                    {{#each this}}
                      <td>

                        {{#unless devoured}}
                     
                        {{this}}
                   
                        {{/unless}}
                        
                        </td>
                     
                     
                     
                     {{/each}}
                   
                    
                  </tr>
                  {{/each}}
                  
                </tbody>

            </div>

          </table>
     </div>


        <div class="col-md-2" > 
         
          </div>

        <div class="col-md-5" > 
          <div class="text-center">
            <h2 style="color: white" >Sandwhichs that you have ate</h2>
          </div>
           
              {{#each sandwhich}}
                {{#if devoured}}
                  {{> sandwhich/sand-block devoured=false}}
                {{/if}}
              {{/each}}
           
            </div>

            </div>

  <div class="row">
      <div class="col-md-4"></div>

      <div class="col-md-4">
        <div id="addSand" class="text-center" >
            <h2>Add a Sandwhich</h2>
          <form class="create-form">

           <div class="form-group">
              <label for="sa">Sandwhich:</label>
               <input type="text" id="sa" name="name">
            </div>

            <button type="submit">Add a Sandwhich</button>

          </form>        
                    
        </div>

      </div>

        
  




</div>