<div class="container">

  <div class="row">
                         
        <div class="col-md-12">
                    <h1  class="text-center">Sandwhichs!!!</h1>  
        </div>

        
  </div>

  <div class="row">

      <div class="col-md-5">
                    
      </div>

      <div class="col-md-4" > 
         <button class="eat_it" data-id="{{id}}" data-newsleep="{{sleep}}">
		            Eat a Sandwhich
          	</button>
      </div>

    



  </div>


  <div class="row">
      <div class="col-md-5" > 

                  <h2>Sandwhichs to be eaten</h2>

                <tbody id="table">
                  
                  {{#each sandwhich}}
                  <tr>
                   <td> {{#unless devoured}}
                     
                      {{> sandwhich/sand-block devoured=true}}
                    </td>
                    {{/unless}}
                  </tr>
                  {{/each}}
                  
                </tbody>

            </div>

        <div class="col-md-2" > 
         
          </div>

        <div class="col-md-5" > 


            <h2>Sandwhichs that you have ate</h2>

            <tbody style="color: blue" >
              {{#each sandwhich}}
                {{#if devoured}}
                  {{> sandwhich/sand-block devoured=false}}
                {{/if}}
              {{/each}}
            </tbody>

            </div>

            </div>

  <div class="row">
        <div class="col-md-5" >    
        </div>
                   
        <div class="col-md-4" >
            <h2>Add a Sandwhich</h2>
          <form class="create-form">

           <div class="form-group">
              <label for="ca">Sandwhich:</label>
               <input type="text" id="ca" name="name">
            </div>

            <button type="submit">Add a Sandwhich</button>

          </form>        
                    


        </div>

        
  </div>




</div>