h1 {
  color: white;
}

h2 {
  color: white;
}

li {
  padding: 5px;
  margin: 5px;
  background: #ec7f7f;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.selected {
  background-color: brown;
  color: #FFF;
}

#table {
  background: #b9ec90;
}

body{
  background-image: url('/assets/images/photo-1430931071372-38127bd472b8.jpg');
  background-size: cover;
}

#addSand{
  background: white;
}

#head {
  color: white ;
}